<div{{attributes}}>
    <section class="py-20 hidden sm:block">
        <div class="relative">
            <div class="pryg-container relative">
                <div class="right-10  absolute">
                    <div class="flex">
                        <h2 class="text-2xl tracking-tight font-extrabold text-pryg-gray-v1 sm:text-5xl md:text-xl 2xl:text-4xl">3P's</h2>
                        <hr class="my-10 w-40 border-t-1 border-pryg-blue-v1 pl-10">
                        {{ title_prefix }}
                        <h2 class="text-2xl tracking-tight font-extrabold text-pryg-blue-v2 sm:text-5xl md:text-xl 2xl:text-4xl">
                            Our Strategy
                        </h2>
                        {{ title_suffix }}
                    </div>
                </div>
                <div class="">
                    <img class="mx-auto pb-32 w-9/12  h-9/12" src="{{ base_path ~ '/' ~ directory }}/assets/images/homepage/misc/PRAYOG_WEBSITE_3Ps.svg" alt="process">
                </div>
                <div class="grid grid-cols-2 absolute bottom-0">
                    <div>
                        <div class="py-10 flex text-pryg-white-v2">
                            <h4 class="content:block text-pryg-gray-v2 pr-10 uppercase text-pryg-gray-v2 text-base">Our Strategy</h4>
                            <hr class="my-auto w-36 border-1 border-pryg-blue-v2 justify-items-start"> 
                        </div>
                        <div>
                            <p class="text-xl tracking-wide text-pryg-blue-v2 font-normal">We seek to leverage the strengths of various
                                stakeholders including government agencies,
                                nonprofit organisations, corporates and
                                academic institutions. We use a 3P approach
                                i.e. product, process & policy to find solutions
                                to development issues in the country.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>