
<div{{attributes}}>
 <section class="py-5 sm:py-20">
        <div class="grid grid-cols-1 sm:grid-cols-7 gap-4">
            <div class="grid col-span-1">
                {{title_prefix}}
                <div class="hidden sm:block vertical_writing_mode place-self-center text-5xl text-gray-200 font-bold">
                    3P's Approach
                </div>
                {{title_suffix}}
            </div>
            <div class="col-span-2">
                <a href="/products">
                    <div class="grid justify-items-center">
                        <div class="flex w-40 h-40 text-center bg-gray-100 rounded-full hover:bg-pryg-blue-v1 hover:text-white justify-center ring-1 ring-pryg-gray-v1 ring-offset-8 xl:text-3xl font-bold text-pryg-blue-v2 relative">
                            <div class="self-center">Product</div>
                            <div class="absolute h-8 w-8 bg-pryg-blue-v1 rotate-12 top-0 left-0"></div>
                        </div>
                        <div class="lg:py-12 lg:px-12 xl:py-16 xl:px-20 text-center text-pryg-blue-v2 bg-gray-100 rounded-3xl mt-10 hover:text-pryg-blue-v1 xl:text-xl"> 
                            Innovative Product,<br>
                            Technological Solultions.
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-span-2">
                <a href="/process">
                    <div class="grid justify-items-center">
                        <div class="flex w-40 h-40 text-center bg-gray-100 rounded-full hover:bg-pryg-orange hover:text-white justify-center ring-1 ring-pryg-gray-v1 ring-offset-8 xl:text-3xl font-bold text-pryg-blue-v2 relative">
                            <div class="self-center">Process</div>
                            <div class="absolute h-8 w-8 bg-pryg-orange rotate-12 bottom-0 left-0"></div>
                        </div>
                        <div class="lg:py-12 lg:px-12 xl:py-16 xl:px-20 text-center bg-gray-100 rounded-3xl mt-10 hover:text-pryg-orange xl:text-xl text-pryg-blue-v2"> 
                        Participatory, Impactful, <br>Framework tools, Replicable,<br>Integrated Approach.
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-span-2">
                <a href="/policy">
                <div class="grid justify-items-center">
                    <div class="flex w-40 h-40 text-center bg-gray-100 rounded-full hover:bg-pryg-yellow hover:text-white justify-center ring-1 ring-pryg-gray-v1 ring-offset-8 xl:text-3xl font-bold text-pryg-blue-v2 relative">
                        <div class="self-center">Policy</div>
                        <div class="absolute h-8 w-8 bg-pryg-yellow rotate-12 top-0 right-0"></div>
                    </div>
                    <div class="lg:py-12 lg:px-12 xl:py-16 xl:px-20 text-center bg-gray-100 rounded-3xl mt-10 hover:text-pryg-yellow xl:text-xl text-pryg-blue-v2"> 
                       Governance,<br>Effective Protocols.
                    </div>
                </div>
            </a>
            </div>
        </div>
    </section>
    </div>