{# <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <title>Prayog | IIT Bombay</title>
</head> #}

{% include '@ctara_prayog_tailwindcss_theme/header.html.twig' %}
<section>
    <div class="pryg-container">
        <div class="py-56 flex items-center justify-center bg-pryg-white-v1">
            <div class="container">
                <div class="bg-pryg-white-v1 rounded-lg p-5 md:p-20 mx-2">
                    <div class="text-center">
                        <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
                        Page Under Construction
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include '@ctara_prayog_tailwindcss_theme/footer.html.twig' %}
