{# <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <title>Prayog | IIT Bombay</title>
</head> #}

{% include '@ctara_prayog_tailwindcss_theme/header.html.twig' %}
    <section>
        <div class="pryg-container"> 
            <div class="mx-auto text-center px-90 pt-20">
                <span class="py-1 text-pryg-orange text-center text-xl font-semibold">Lets' Connect</span>
                <h3 class="">Find Technology driven solution</h3>
                <h5 class="py-14 text-gray-500 font-normal px-8">The platform in India that brings multiple stakeholders together to address social issues.</h5>
            </div>
            <div class="flex pb-20">
                <form class="mx-auto py-10" method="" action="">
                    <input size="50" class="text-center italic text-pryg-blue-v2 text-lg font-normal mb-10 p-7 border-b-2 border-pryg-blue-v2 focus:border-b-2 border-pryg-yellow" type="text" label="" placeholder="Enter your name" /> <br>
                    <input size="50" class="text-center italic text-pryg-blue-v2 text-lg font-normal mb-10 p-7 border-b-2 border-pryg-blue-v2 focus:border-b-2 border-pryg-yellow" type="email" label="" placeholder="Enter your email"/> <br>
                    <submit class="text-center bg-pryg-yellow pryg-btn border-2 border-pryg-blue-v2 rounded-full hover:bg-pryg-blue-v2 hover:border-pryg-blue-v1 hover:text-pryg-blue-v1"> Submit <submit>
                </form>
            </div>
        </div>
    </section>
{% include '@ctara_prayog_tailwindcss_theme/footer.html.twig' %}
