{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}
{% set tailwindClassesLI = [
    'hover:text-pryg-yellow',
    'hover:border-solid',
    'hover:border-2',
    'hover:border-pryg-gray-v1',
    'rounded-full',
    'lg:p-3',
    'xl:p-4'
] %}
<li{{ attributes.addClass(tailwindClassesLI) }}>{{ link }}</li>
