<header class="w-full bg-pryg-white-v1 sticky z-10">
    <div class="mx-auto">
        <nav class="mx-auto">
            {{ page.header }}
        </nav>
    </div>
</header>
<main class="py-10">
{{ page.content }}
</main>
<footer class="h-1/2 bg-pryg-white-v2">
{{ page.footer }}
</footer>
{% include '@ctara_prayog_tailwindcss_theme/footer.html.twig' %}
